In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import networkx as nx

In [2]:
df = pd.read_csv('/notebooks/evanc/KoReCOVID/resources/SampleWithEmotionsPol5.csv')

In [3]:
#Taking a look at the dataframe
df.head()

,Unnamed: 0,index,time,id,text,user,uid,mention_username,mention_id,mention_realname,...,month,week,Emotions_x,Bert_Scents_x,VADER_Scents_x,Emotions_y,Bert_Scents_y,VADER_Scents_y,Highest_Emotion,VADER_Sents_Cat
0,0,146590,2020-05-21 23:35:37+00:00,1263614456829022209,@dcexaminer @JoeBiden @realDonaldTrump This he...,ArmedInfidel_US,1472543887,dcexaminer JoeBiden realDonaldTrump realDonald...,18956073 939091 25073877 25073877,Washington Examiner Joe Biden Donald J. Trump ...,...,5,21,"[[{'label': 'sadness', 'score': 0.029198400676...","[[{'label': 'NEG', 'score': 0.0016769989160820...","{'neg': 0.0, 'neu': 0.85, 'pos': 0.15, 'compou...","{'sadness': 0.029198400676250458, 'joy': 0.858...",pos,"{'neg': 0.0, 'neu': 0.85, 'pos': 0.15, 'compou...",joy,neu
1,1,60869,2020-05-17 17:57:50+00:00,1262079896785784834,@realDonaldTrump people are in a desperate sit...,MikeSireli,755950504627273728,realDonaldTrump,25073877,Donald J. Trump,...,5,20,"[[{'label': 'sadness', 'score': 0.117977239191...","[[{'label': 'NEG', 'score': 0.9805493950843811...","{'neg': 0.085, 'neu': 0.915, 'pos': 0.0, 'comp...","{'sadness': 0.11797723919153214, 'joy': 0.0096...",neg,"{'neg': 0.085, 'neu': 0.915, 'pos': 0.0, 'comp...",fear,neg
2,2,109100,2020-05-20 15:40:54+00:00,1263132600480206849,@tedlieu @IAmJohnAles Ol Ted out here spitting...,Benjay_mann,911645740941942785,tedlieu IAmJohnAles,21059255 140586054,Ted Lieu John Ales*,...,5,21,"[[{'label': 'sadness', 'score': 0.000932891038...","[[{'label': 'NEG', 'score': 0.9853773713111877...","{'neg': 0.276, 'neu': 0.59, 'pos': 0.134, 'com...","{'sadness': 0.0009328910382464528, 'joy': 0.00...",neg,"{'neg': 0.276, 'neu': 0.59, 'pos': 0.134, 'com...",anger,neg
3,3,309242,2020-05-31 07:17:07+00:00,1266992084638105601,@realDonaldTrump You are a pathetic excuse for...,AppalachianSpi2,1263887973625536519,realDonaldTrump,25073877,Donald J. Trump,...,5,22,"[[{'label': 'sadness', 'score': 0.998848080635...","[[{'label': 'NEG', 'score': 0.9828436374664307...","{'neg': 0.216, 'neu': 0.647, 'pos': 0.137, 'co...","{'sadness': 0.9988480806350708, 'joy': 0.00025...",neg,"{'neg': 0.216, 'neu': 0.647, 'pos': 0.137, 'co...",sadness,neg
4,4,245739,2020-05-26 06:33:24+00:00,1265169143835299849,@SexCounseling @brithume @realDonaldTrump Peop...,rustyisleaving,3383186015,SexCounseling brithume realDonaldTrump,204444440 112047805 25073877,"Dawn Michael, PhDðŸ’— Brit Hume Donald J. Trump",...,5,22,"[[{'label': 'sadness', 'score': 0.193735733628...","[[{'label': 'NEG', 'score': 0.9717398881912231...","{'neg': 0.3, 'neu': 0.7, 'pos': 0.0, 'compound...","{'sadness': 0.193735733628273, 'joy': 0.002407...",neg,"{'neg': 0.3, 'neu': 0.7, 'pos': 0.0, 'compound...",fear,neg

In [4]:
df.columns

Index(['Unnamed: 0', 'index', 'time', 'id', 'text', 'user', 'uid',
       'mention_username', 'mention_id', 'mention_realname', 'url',
       'expanded_url', 'source', 'in_reply_to_id', 'in_reply_to_uid',
       'in_reply_to_username', 'user_loc', 'user_created_at',
       'user_follower_count', 'user_favorite_count', 'user_friends_count',
       'user_status_count', 'user_listed_count', 'user_description',
       'user_geo_enabled', 'user_verified', 'lang', 'rtb', 'mentioncheck',
       'replycheck', 'month', 'week', 'Emotions_x', 'Bert_Scents_x',
       'VADER_Scents_x', 'Emotions_y', 'Bert_Scents_y', 'VADER_Scents_y',
       'Highest_Emotion', 'VADER_Sents_Cat'],
      dtype='object')

In [5]:
df.isna().sum()

Unnamed: 0                 0
index                      0
time                       0
id                         0
text                       0
user                       0
uid                        0
mention_username          37
mention_id                37
mention_realname          37
url                     1100
expanded_url            1100
source                     0
in_reply_to_id           680
in_reply_to_uid          372
in_reply_to_username     372
user_loc                2232
user_created_at            0
user_follower_count        0
user_favorite_count        0
user_friends_count         0
user_status_count          0
user_listed_count          0
user_description        1344
user_geo_enabled           0
user_verified              0
lang                       0
rtb                        0
mentioncheck               0
replycheck                 0
month                      0
week                       0
Emotions_x                 0
Bert_Scents_x              0
VADER_Scents_x             0
Emotions_y                 0
Bert_Scents_y              0
VADER_Scents_y             0
Highest_Emotion            0
VADER_Sents_Cat            0
dtype: int64

Looking at the data I am going to make two networks.. one for replies and another for mentions

In [6]:
df_mention = df[['id','uid','mention_id']]

In [7]:
#Finding the Edges
df_mention= df_mention.dropna()

In [8]:
df_mention.head()

                    id                  uid                         mention_id
0  1263614456829022209           1472543887  18956073 939091 25073877 25073877
1  1262079896785784834   755950504627273728                           25073877
2  1263132600480206849   911645740941942785                 21059255 140586054
3  1266992084638105601  1263887973625536519                           25073877
4  1265169143835299849           3383186015       204444440 112047805 25073877

In [9]:
def Listify(x):
    if type(x) != list: 
        return list(x)
    else:
        return x

df_mention['mention_id'] = df_mention['mention_id'].apply(lambda x: x.split())
df_mention['mention_id'] = df_mention['mention_id'].apply(lambda x: Listify(x))

In [10]:
df_mention.head()

,id,uid,mention_id
0,1263614456829022209,1472543887,"[18956073, 939091, 25073877, 25073877]"
1,1262079896785784834,755950504627273728,[25073877]
2,1263132600480206849,911645740941942785,"[21059255, 140586054]"
3,1266992084638105601,1263887973625536519,[25073877]
4,1265169143835299849,3383186015,"[204444440, 112047805, 25073877]"

In [11]:
edges = []
for key,ID,mentions in df_mention[['uid','mention_id']].itertuples():
    for mention in mentions:
        edges.append((int(ID),int(mention)))

In [12]:
nodes = []
for i in df_mention.uid:
    nodes.append(i)
for i in df_mention.mention_id:
    for j in i:
        nodes.append(j)
nodes = list(set(nodes))

In [13]:
graph = nx.Graph()

In [14]:
graph.add_nodes_from(nodes)

In [15]:
graph.add_edges_from(edges)

In [16]:
nx.write_gml(graph,'/notebooks/evanc/KoReCOVID/resources/graph.gml')